<app-header></app-header>
<div class="container roles-container">
  <div class="row">
    <div class="col-4 no-right-pad">
      <div class="row">
        <div class="col-4">
          <h1 class="roles-header">Roles</h1>
        </div>
        <div class="col-8">
        </div>
      </div>
      <div class="role-list-container">
        <ul>
          <li
          [class.selectedRole]="currSelectedRole === selection"
          [ngClass]="{'btn btn-link addRoleBtn' : role.control == 'new'}"
          *ngFor="let role of roles; let selection = index"
          ><span (click)="setMode(selection, role)">{{role.name}}</span>
          <fa
          *ngIf="showDeleteIcon(role.name)"
          (click)="displayDeleteRolePrompt(role)"
          data-container="body"
          ngbTooltip="Delete Role"
          class="pull-right delete-role-icon"
          name="fas fa-trash"
        ></fa>
        </li>
        </ul>
      </div>
    </div>
    <div class="col-8 no-left-pad">
      <div class="permissions-container">
      <div *ngIf="!permissionsLoaded">
        <div class="no-data-loaded">
        <object type="image/svg+xml" data="../../../assets/roles_illustration.svg">
          Your browser does not support SVG
        </object>
        </div>
      </div>
      <div class="animated fadeIn" *ngIf="permissionsLoaded">
        <h3 class="roles-header">{{roleTitle}}</h3>
        <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
          {{errorMsg}}
        </div>
        <form
        [formGroup]="addPermissionsForm"
        (ngSubmit)="submit()"
        >
        <div *ngIf="!userCanEditRole" class="row add-new-role-container">
          <div class="col-6">
            <div class="form-label-group">
              <input
                type="text"
                id="inputCaseName"
                class="form-control capitalize-input"
                formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && form.name.errors }"
                placeholder="Role Name"
                (change)="
                addPermissionsForm.patchValue({ name: capitalizeInput($event.target.value) })
                "
                maxlength="35"
                required
                autofocus
              />
              <label for="inputCaseName">Role Name</label>
              <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                <div *ngIf="form.name.errors.required">Role Name is required</div>
                <div *ngIf="form.name.errors.minlength">
                  Role Name must contain 2 characters.
                </div>
                <div *ngIf="form.name.errors.roleNameValidator">Admin is a reserved name, it is unavailable.</div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <label class="mt-3">
              <input type="checkbox" (change)="onCheckboxChange($event)" formControlName="default"/> 
              Set to default
            </label>
            <div class="pull-right">
            <button (click)="cancel()" class="mt-2 mr-2 btn btn-secondary">Cancel</button>
            <button type="submit" class="mt-2  btn btn-primary">Save</button>
          </div>
          </div>
        </div>

       
        <div class="permissions-list-container">

          <div>
          <h3 class="roles-header pb-0">{{generatePermissionsTxt()}}</h3>
          <div class="form-error-msg" *ngIf="submitted && !form.permissionCheckBoxes.valid">
            Select at least one permission.
          </div>
        </div>
        <div class="mt-4">
          <label 
          class="cols permission-checkbox"
          formArrayName="permissionCheckBoxes"
          *ngFor="let permission of addPermissionsForm.controls.permissionCheckBoxes.controls; let i = index" 
          > 
            <input type="checkbox" [formControlName]="i"/> 
            {{permissions[i].name}}
          </label>
        </div>
        </div>
      </form>
      </div>
    </div>
    </div>
  </div>
</div>
