.change-password-content {
    max-width: 420px;
    padding: 15px;
    margin: auto;
    width: 100%;
  }

.change-password-content ul {   
    padding-left: 20px;
    line-height: 24px;
}

.view-password-btn {
    position: relative;
    position: absolute;
    top: 16px;
    right: 30px;
    cursor: pointer;
}
